@charset "utf-8";
/*태그초기화*/
body{margin: 0px; font-family: "맑은 고딕", "Malgen Gothic", "돋움", Dotum, "굴림", Gulim, Arial; font-size: small; }
fieldset{ border: 0px;}
ul{margin: 0px; padding: 0px; list-style: none;}

#payment{width: 500px; margin: 20px; padding: 20px; background-color: #7c9a2e; border-radius: 10px;  }/*border-radius:왼쪽 상단을 기준으로 시계방향으로 다르게 설정 가능함*/
#payment fieldset{counter-increment: mycount; margin-bottom: 20px;}/*카운터를 증가시킬때 사용, :before 와  :after 라는 가상선택자와 함께 쓰임*/
#payment fieldset legend:before{
	content: "Step" counter(mycount) " : "; }
#payment fieldset legend{font-size: 16px; color: #1b210c;
	text-shadow: 1px 1px 0px #99ff00; margin-bottom: 10px; }/*text-shadow와 box-shadow : x축오프셋 y축오프셋 그림자불러정도 그림자색상; */
#payment fieldset ul li{border: 2px solid #e0f1c9; background-color: #a7ca4a;  border-radius: 5px; margin-bottom: 3px; padding: 10px;}
#payment label{display: inline-block; width: 160px;  }/* IE7이하브라우저 사용자들이 블록엘리먼트에 display: inline-block;을 주었을때 해결하는 스타핵(스타일 마지막에 적어준다) *display: inline; *zoom: 1; */
#payment input{width: 200px; border: 0px; border-radius: 5px; background-color: #fff; font-family: "맑은 고딕", "Malgen Gothic", "돋움", Dotum, "굴림", Gulim, Arial; font-size: 13px; font-style: italic; color: #666; padding: 5px;}
#payment input:focus{background-color: #ffff00; }
#payment div{text-align: center;}
#payment div button{border: 0px; background-color: #3a4615; color: #fff; font-size: 16px; padding: 10px 20px; border-radius: 20px; text-shadow: 1px 1px 1px #000;}
#payment div button:hover{background-color: #1d220b; cursor: pointer; }