@charset "utf-8";
/*태그 초기화*/
body{margin: 0px; font-family: "굴림", Gulim, "맑은 고딕"; font-size: small; color: #333; background: url(../images/bg3.jpg)  no-repeat fixed left bottom;}
h1, h2, p, figure{margin: 0px;}
h1, h2{font-size: inherit;}/*font-size: 100%;*/
address{font-style: normal;}
hr{border: 0;}
header, article, section, figure, figcaption{display: block; }


#wrap{width: 960px; padding: 20px 0px 0px 30px; }
header h1{font-size: 1.5em; margin-bottom: 30px; color: #009900; }
.memo h2{font-size: 1.2em; }
.memo h2, .memo p{margin-bottom: 20px; }
.memo mark{font-weight: bold;}
mark.green{background-color: #66ff99;  }
mark.yellow{background-color: #caca06; }
.memo p{line-height: 1.5em;}
.photo figure figcaption{padding: 5px 0px 15px 0px;}
.bgImg{height: 70px; background: url(../images/line.gif) no-repeat;}
footer{padding-bottom: 30px;}


